body{
	font-size: 100%;
	color: rgb(164,141,209);
	background-color: rgb(241,241,222);
	font-family:;
}

#header-nav {
	background-color: rgb(88,115,112);
	border-radius: 0;
	border: 0;
	opacity: .8;
}

.navbar-brand {
	height: 100px;
}

.navbar-brand a {
	color: rgb(206,173,96);
	text-decoration: none;
}

#main-content{
	background-color: rgba(206,173,96,.3);
	height: 1000px;
	border-radius: 5px;
	
}