body{
	font-size: 16px;
	color: #777;
	background-color: #E7E9E7;
	font-family:'Roboto Condensed', sans-serif;
}

.navbar-default {
	background-color: #69DBC8;
	border-radius: 0;
	border: 0;
	opacity: .8;
	width: 100%;
}

.navbar-brand {
	height: 100px;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	margin-top: 40px;
}

.navbar-default .navbar-brand{
	color: #FCF951;
}

.navbar-default .navbar-nav a{
	color: #FCF951;
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.text-center {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 2em;
	text-transform: uppercase;
}

#main-content {
	background-color: #FCF951;
	text-align: justify;
}

h2{
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.navbar-nav {
	margin-top: 0;
}

/*LARGE DEVICES*/
@media (min-width: 1200px){
	.navbar-nav>li>a {
		visibility: hidden;
	}
}

/*MED DEVICES*/
@media (min-width: 992px) and (max-width: 1199px){
	.navbar-nav>li>a {
		visibility: hidden;
	}
}

/* SMALL DEVICES */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav>li>a {
		visibility: hidden;
	}
}

/*EXTRA SMALL DEVICES */
@media (max-width: 767px){
	#collapsable-nav a{
		font-size: 1.2em;
	}
	#main-content{
		margin-left:40px;
		margin-right:40px;
	}
}